/* Config Base - CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffff;
    color: #333;
    line-height: 1.6;
}

.tech-image-size {
    width: 88px;
    height: 100px;
    object-fit: contain;
    gap: 20px;
}

.items-center {
    display: flex;
    padding: 10px 40px;
}

.items-center div {
    padding: 10px 40px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f9fafb;
    color: #fff;
    bottom: 0;
    width: 100%;
}

.section-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 130px 0px 130px;
    height: 552px;
    padding: 80px 96px;
}

.grey-bg {
    background-color: #f9fafb;
}

.black-font {
    color: #000;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 20px;
    opacity: 0.95;
}

.menu-options {
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-options:hover {
    color: #d30e0e;
}

.hero_container {
    display: flex;
    padding: 32px;
    gap: 55px;
}

.hero_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero_title {
    font-size: 45px;
}

.hero_profesion {
    font-size: 20px;

}

.profesion_text {
    font-size: 16px;
    padding-top: 20px;
    text-align: justify;
}

.profile_image {
    width: 280px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.Acercademi_container {
    display: flex;
    padding:32px;
    gap: 48px;
}

.title_container {
    padding-bottom: 20px;
    font-size: 25px;
}

.text{
    font-size: 19px;
    padding-top: 10px;}

.text_container {
    text-align: justify;
    padding-right: 20px;
}

.project_card {
    display: flex;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 20px;
}

.project_card div {
    padding: 0 20px;
}

.project_card h3 {
    padding: 0 20px;
}

.projects_container {
    padding: 0 20px;
}

.Proyectos_container{
    padding: 20px 10px;
}

.project_text {
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}

.contact{
    padding-bottom: 30px;
}